/* Style for the home icon */
.home-icon {
	z-index: 1000; /* Ensure it is above other content */
	position: fixed;
	top: 0.5em;
	left: 0.5em;
	font-size: 48px;
	color: #000;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.8);
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
	padding: 0.25em !important;
}

.home-icon i {
	pointer-events: none;
}

/* Settings Button (Top-Right Corner) */
.settings-btn {
	z-index: 1000; /* Ensure it is above other content */
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	font-size: 48px;
	color: #000;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.8);
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	cursor:pointer;
}

.settings-btn i {
	pointer-events: none;
}

/* Settings Menu */
.settings-menu {
	z-index: 1000; /* Ensure it is above other content */
	position: fixed;
	top: 5.75em;
	right: 1.75em;
	color: #000;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 20px;
	display: none; /* Hidden by default */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 999;
}

.settings-menu select {
	margin-top: 10px;
}

/* Optional: Add styles for when the menu is open */
.settings-menu.open {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#version-select {
	margin-top: 0;
	padding: 5px;
	font-size: 1rem;
}
