body {
    background-color: #000022;
    color: skyblue;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

#Header {
    font-size: 2em;
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
}

header {
    font-size: 1.25em;
    padding: 15px;
    border-style: solid;
    border-color: turquoise;
    border-width: 5px;
    text-align: center;
    background: black;
    color: aquamarine;
}

nav {
    z-index: 10000;
    position: sticky;
    top: 0px;
    display: flex;
    background-color: royalblue;
}

    /* Style the navigation bar links */
    nav a {
        color: white;
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
    }

        /* Change color on hover */
        nav a:hover {
            background-color: steelblue;
            color: black;
        }

#unity-container {
	position: absolute
}

#unity-container.unity-desktop {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

#unity-container.unity-mobile {
	width: 100%;
	height: 100%
}

#unity-canvas {
	background: #231F20
}

.unity-mobile #unity-canvas {
	width: 100%;
	height: 100%
}

#unity-loading-bar {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none
}
	
#unity-logo {
	width: 154px;
	height: 130px;
	background: url('unity-logo-dark.png') no-repeat center
}
	
#unity-progress-bar-empty {
	width: 141px;
	height: 18px;
	margin-top: 10px;
	background: url('progress-bar-empty-dark.png') no-repeat center
}
	
#unity-progress-bar-full {
	width: 0%;
	height: 18px;
	margin-top: 10px;
	background: url('progress-bar-full-dark.png') no-repeat center
}
	
#unity-footer {
	position: relative }
	
.unity-mobile #unity-footer {
	display: none
	}
	
#unity-webgl-logo {
	float:left;
	width: 204px;
	height: 38px;
	background: url('webgl-logo.png') no-repeat center
}
	
#unity-build-title {
	float: right;
	margin-right: 10px;
	line-height: 38px; 
	font-family: arial;
	font-size: 18px
}
	
#unity-fullscreen-button {
	float: right;
	width: 38px;
	height: 38px;
	background: url('fullscreen-button.png')no-repeat center
}

footer {
    position: sticky;
    bottom: 0px;
    display: flex;
    background-color: royalblue;
}

    /* Style the navigation bar links */
    footer a {
        color: white;
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
    }

        /* Change color on hover */
        footer a:hover {
            background-color: steelblue;
            color: black;
        }

#Copyright {
	color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
	padding-left: 1210px;
}