body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
	justify-items: center;
	align-items: center;
	align-self: center;
	align-content: center;
	min-height: 100vh;
	width: 100%;
}

.container {
	margin: 1.5rem 0;
	background: #fff;
	padding: 2rem;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 90%;
	max-width: 90%;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	gap: 1.5rem; /* Adjust the gap size as needed */
}

h1, h2 {
	text-align: center;
	margin-top: 0.65em;
}

.section {
	padding: 1rem;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#countdown,
#drip-countdown,
#special-program-countdown,
#beta-countdown {
	text-align: center;
	font-size: 1.2rem;
}

#drip-countdown strong,
#countdown strong,
#special-program-countdown strong,
#beta-countdown strong {
	font-size: 2rem;
	color: #e67e22;
}

#version-history table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 1rem;
}

#version-history th,
#version-history td {
	padding: 0.75rem;
	border: 1px solid #ccc;
	text-align: center;
}

#version-history th {
	background-color: #f0f0f0;
}

@media (max-width: 600px) {
	.container {
		padding: 1rem;
	}

	#drip-countdown strong,
	#countdown strong,
	#special-program-countdown strong,
	#beta-countdown strong {
		font-size: 1.5rem;
	}
}

#drip-characters {
	margin-top: 2rem;
	text-align: center;
}

.character-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;
}

.character-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 120px;
}

.character-card img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.character-card span {
	margin-top: 0.5rem;
	font-weight: bold;
}

/* Style for 5-star characters images */
.five-star-image {
	background-image: linear-gradient(
			0deg,
			#de9552 0%,
			#9a6d43 100%
	);
}

/* Style for Special 5-star characters images */
.special-star-image {
	background-image: linear-gradient(
			0deg,
			#da4f55 0%,
			#af5155 100%
	);
}

/* Style for 4-star characters images */
.four-star-image {
	background-image: linear-gradient(
			0deg,
			#917ab1 0%,
			#6c6192 100%
	);
}

/* Style for ???-star characters images */
.unknown-star-image {
	background-image: linear-gradient(
			0deg,
			#a4a4a4 0%,
			#76787c 100%
	);
}
