/* Dark theme */
body {
	font-family: Arial, sans-serif;
	background-color: #888;
	color: #fff;
	margin: 0;
	padding: 2em;
}

bold {
	font-weight: bold;
}

h1 {
	color: #f3f3f3;
	text-align: center;
}

.character-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.character {
	font-size: 1.35em;
	display: flex;
	flex-direction: column;
	border: 3px solid #bbb;
	background-color: #777;
	padding: 10px;
	border-radius: 5px;
	width: 45rem;
}

.character h2 {
	color: #fff;
	margin: -5px 0 8px;
}

.materials ul {
	list-style-type: none;
	padding: 0;
}

.path-image,
.type-image {
	width: 50px;
	height: 50px;
}

.character-image {
	width: 150px;
	height: 150px;
	vertical-align: middle;
	margin-right: 20px;
	border-radius: 50%;
}

.enemy-image {
	width: 50px;
	height: 50px;
	margin-right: 0.75em;
}

.item-image {
	width: 40px;
	height: 40px;
}

.item-wrapper {
	 position: relative;
	 display: inline-block;
 }

.item-number {
	position: absolute;
	top: -0.275em;
	left: 1.575em;
	background-color: rgba(0, 0, 0, 0.35);
	color: white;
	border-radius: 50%;
	padding: 2px 6px;
	font-size: 14px;
}

.details {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.details-right {
	padding: 1em 0.5em;
}

.icons {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.icons img {
	margin-right: 10px;
}

.materials li img.enemy-boss-icon {
	width: 50px;
	height: 50px;
	margin-left: 10px;
}

.item-text {
	margin-left: 0.5em;
	text-wrap: nowrap
}

.item-link {
	color: white;
	text-decoration: none;
}

/* Style for 5-star characters images */
.five-star-image {
	background-image: linear-gradient(
			0deg,
			#de9552 0%,
			#9a6d43 100%
	);
}

/* Style for Special 5-star characters images */
.special-star-image {
	background-image: linear-gradient(
			0deg,
			#da4f55 0%,
			#af5155 100%
	);
}

/* Style for 4-star characters images */
.four-star-image {
	background-image: linear-gradient(
			0deg,
			#917ab1 0%,
			#6c6192 100%
	);
}

/* Style for ???-star characters images */
.unknown-star-image {
	background-image: linear-gradient(
			0deg,
			#a4a4a4 0%,
			#76787c 100%
	);
}

.enemy-div {
	text-align: center;
	margin-bottom: 10px;
}

.enemy-image {
	width: 85px; /* Adjust size for bigger enemy images */
	height: auto;
}

.enemy-drops-div {
	display: flex;
	flex-direction: column;
}

.item-image {
	width: 50px; /* Adjust size for enemy drops */
	margin-right: 10px; /* Spacing between image and name */
}

.materials-main-text {
	font-size: 1.1em;
	font-weight: bolder;
}

.ascension-materials > div > li,
.trace-materials > div > li {
	padding: 10px 0;
}

.materials-secondary-text {
	font-size: 0.75em;
	font-weight: bold;
}

.item-name {
	font-size: 0.6em; /* Adjust for smaller text */
	top: -1em;
	position: relative;
}

.materials li {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.materials-stagnant-shadow-text {
	font-size: 0.6em;
	font-weight: bold;
	flex-direction: column;
}

div > li.stagnant-shadow-list {
	flex-direction: column;
	text-align: left;
	align-items: normal;
}

.stagnant-shadow-item {
	padding: 10px 0;
}

.materials-calyx-text {
	font-size: 0.6em;
	font-weight: bold;
	flex-direction: column;
}

div > li.calyx-list {
	flex-direction: column;
	text-align: left;
	align-items: normal;
}

.calyx-item {
	padding: 10px 0;
}

.materials-echo-of-war-text {
	font-size: 0.6em;
	font-weight: bold;
	flex-direction: column;
}

div > li.echo-of-war-list {
	flex-direction: column;
	text-align: left;
	align-items: normal;
}

.echo-of-war-item {
	padding: 10px 0;
}

.materials {
	display: flex;
	justify-content: space-around;
}
