/* Dark theme */
body {
	font-family: Arial, sans-serif;
	background-color: #888;
	color: #fff;
	margin: 0;
	padding: 2em;
}

bold {
	font-weight: bold;
}

h1 {
	color: #f3f3f3;
	text-align: center;
}

.character-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.character {
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
	border: 3px solid #bbb;
	background-color: #777;
	padding: 10px;
	border-radius: 5px;
	width: 21.678rem;
}

.character h2 {
	color: #fff;
	margin: 0 0 10px;
}

.materials ul {
	list-style-type: none;
	padding: 0;
}

.materials li {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.weapon-image,
.element-image {
	width: 50px;
	height: 50px;
}

.character-image {
	width: 150px;
	height: 150px;
	vertical-align: middle;
	margin-right: 20px;
	border-radius: 50%;
}

.enemy-image {
	width: 50px;
	height: 50px;
	margin-right: 0.75em;
}

.item-image {
	width: 40px;
	height: 40px;
}

.item-wrapper {
	 position: relative;
	 display: inline-block;
 }

.item-number {
	position: absolute;
	top: -0.375em;
	left: 1.125em;
	background-color: rgba(0, 0, 0, 0.35);
	color: white;
	border-radius: 50%;
	padding: 2px 6px;
	font-size: 14px;
}

.details {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.details-right {
	padding: 1em 0.5em;
}

.icons {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.icons img {
	margin-right: 10px;
}

.materials li img.enemy-boss-icon {
	width: 50px;
	height: 50px;
	margin-left: 10px;
}

.item-text {
	margin-left: 0.5em;
	text-wrap: nowrap
}

.item-link {
	color: white;
	text-decoration: none;
}

/* Style for 5-star characters images */
.five-star-image {
	background-image: linear-gradient(
			0deg,
			#de9552 0%,
			#9a6d43 100%
	);
}

/* Style for Special 5-star characters images */
.special-star-image {
	background-image: linear-gradient(
			0deg,
			#da4f55 0%,
			#af5155 100%
	);
}

/* Style for 4-star characters images */
.four-star-image {
	background-image: linear-gradient(
			0deg,
			#917ab1 0%,
			#6c6192 100%
	);
}

/* Style for ???-star characters images */
.unknown-star-image {
	background-image: linear-gradient(
			0deg,
			#a4a4a4 0%,
			#76787c 100%
	);
}

.geo-traveler-talent-books {
	width: 15.555em
}

.geo-traveler-weekly-boss {
	width: 5.7495em
}

.geo-traveler-enemy-drop {
	width: 10.195em
}

