/* rerun.css */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	color: #333;
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	color: #333;
}

.gap-item {
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #f9f9f9;
	display: flex;
	align-items: flex-start; /* Align items to the start */
	min-height: max-content; /* Ensure a minimum height for uniformity */
	flex-direction: row; /* Ensure horizontal layout */
}

.gap-item p {
	margin: 5px 0;
}

.gap-item strong {
	color: #555;
}

.character-image {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 15px; /* Adds space between image and name */
}

.character-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 87.5%;
	font-size: 1.5em;
	color: #333;
	font-weight: bold;
}
