body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1400px;
	margin: 5px auto;
	padding: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	color: #333;
}

#character-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.character-card {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 20px;
	display: flex;
	align-items: flex-start; /* Align items to the start */
	width: max-content; /* Fixed width for consistent card size */
	min-height: max-content; /* Ensure a minimum height for uniformity */
	flex-direction: row; /* Ensure horizontal layout */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
	text-align: left; /* Align text to the left */
}

.character-card:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.character-image {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 15px; /* Adds space between image and name */
}

.character-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 87.5%;
	font-size: 1.5em;
	color: #333;
	font-weight: bold;
}

.banner-count {
	font-size: 0.65em;
	color: #888;
	font-weight: normal;
}

.rerun-info {
	font-size: 1em;
	color: #666;
	margin-top: 0.1em;
	text-align: left;
}

.rerun-version-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 87.5%;
	font-size: 0.75em;
	color: #888;
	margin-top: 0.1em;
	margin-bottom: 0.95em;
	margin-left: 0.45em;
	text-align: left;
}

.wish-type {
	font-size: 1em;
	color: #ff6347;
	font-weight: bold;
	display: inline;
}

.rerun-status,
.time-since,
.days-since {
	font-size: 1em;
	color: #007bff;
	font-weight: bold;
	text-align: left;
	width: 450px;
}

.ongoing-rerun-status,
.upcoming-rerun-status {
	font-size: 1em;
	color: #ff7b00;
	font-weight: bold;
	text-align: left;
	width: 450px;
}


.character-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}

.character-card div {
	word-wrap: break-word;
}

@media screen and (max-width: 768px) {
	#character-list {
		flex-direction: column;
		align-items: center;
	}
}

/* Label styling for filters and sorting */
label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	color: #555;
}

.sorting {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

/* Dropdown (select) styling */
select {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
	color: #333;
	background-color: #f9f9f9;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}

select:focus {
	border-color: #007bff;
	outline: none;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Element filter checkboxes styling */
#elementFilter {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 20px;
}

#elementFilter label {
	display: flex;
	align-items: center;
	background-color: #f9f9f9;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#elementFilter label:hover {
	background-color: #f1f1f1;
}

#elementFilter input[type="checkbox"] {
	margin-right: 8px;
	transform: scale(1.2);
	cursor: pointer;
}
