body {
	font-family: Arial, sans-serif;
	padding: 0 0 0 0;
	margin: 0;
}

h1 {
	top: 0.25em;
	position: static;
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

th {
	background-color: #f4f4f4;
}

td {
	background-color: #fafafa;
}

th[colspan] {
	background-color: #e0e0e0;
}

/* Container for each character's image and name */
.character-entry {
	display: flex;
	align-items: center;
	gap: 0.45em; /* Space between image and name */
}

/* Style for character images */
.character-image {
	width: 50px; /* Adjust size as needed */
	height: 50px; /* Adjust size as needed */
	border-radius: 50%;
}

/* Style for 5-star characters images */
.five-star-image {
	background-image: linear-gradient(
			180deg,
			#a47d5c,
			#d2945f
	);
}

/* Style for 4-star characters images */
.four-star-image {
	background-image: linear-gradient(
			180deg,
			#7e6998,
			#8a6bbb
	);
}

/* Ensure table layout is consistent */
table {
	width: 100%;
	border-collapse: collapse;
}

/* Sticky first header row */
thead .corner {
	background-color: #e0e0e0;
	position: sticky;
	top: -2px;
	left: -1px;
	z-index: 6; /* Ensure it is above other content */
}

/* Sticky first header row */
thead .version {
	position: sticky;
	top: -1px;
	z-index: 5; /* Ensure it is above other content */
}

/* Sticky second header row */
thead .phase {
	position: sticky;
	top: 37px; /* Height of the first row */
	z-index: 4; /* Ensure it is above other content */
}

/* Sticky leftmost column */
tbody td:first-child {
	position: sticky;
	left: -1px;
	background: #f4f4f4; /* Background to cover content behind */
	z-index: 1; /* Ensure it is above other content */
	min-width: max-content;
}

/* Add some styling for visibility */
thead th, tbody td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

/* Optional: Add some padding and background color to distinguish sticky headers and columns */
thead th {
	background-color: #f4f4f4;
}

.checkmark {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #ddd; /* Default color */
	border-radius: 50%;
	position: relative;
}

.checkmark::before {
	content: '✔';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 24px;
}

.event-wish {
	background-color: #ff6347;
}

.chronicled-wish {
	background-color: #6347ff;
}

/* Base color for cells before the first run */
.before-release {
	background-color: #333; /* Dark grey */
	background-image: repeating-linear-gradient(
			-42deg,
			white 0,
			white 10px,
			transparent 10px,
			transparent 25px
	);
	background-size: 2000px 2000px; /* Span the whole row with consistent stripe size */
	background-position: 0 0; /* Aligns the background at the top left of each cell */
	color: white; /* Text color for visibility */
}

