/* General table styling */
#character-table {
	display: table;
	justify-self: center;
	width: 80%;
	border-collapse: collapse;
	margin-top: 20px;
	margin-bottom: 20px;
}

#character-table th, #character-table td {
	padding: 30px;
	text-align: center;
	border: 1px solid #ddd;
}

#character-table .weapon-image, #character-table .element-image {
	display: inline-block;
	margin: 2px;
}

/* Spacing between columns */
#character-table th, #character-table td {
	padding: 15px 20px;
}

#character-table th {
	font-size: 16px;
	background-color: #777;
	border: #555 2px solid;
}

#character-table td {
	vertical-align: middle;
	background-color: #fff;
}

.character-grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: center;
	align-items: center;
	gap: 4px;
 }

/* Center the last item when there's an odd number of items */
.character-grid > :nth-last-child(1):nth-child(odd) {
	grid-column: span 2;
	justify-self: center;
}

.weapon-image,
.element-image {
	width: 50px;
	height: 50px;
}

.character-image {
	height: 70px;
	width: 70px;
	margin-right: 0;
}
